<!DOCTYPE html>
<html lang="de">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas, maiores
                doloremque ipsa perferendis saepe repellendus nesciunt dolore sed fuga!
            </p>
        </div>

        <%- include('./partials/footer.ejs') %>
</html>
