.createArticlePage h1 {
    margin: 40px 0;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.buttonWrapper{
    text-align: left;
}

.buttonWrapper button{
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 5px;
}

.buttonWrapper button:active{
    opacity: .8;
}


