:root{
    --primary:#ddd;
    --dark:#332d2d;
    --light:#fff;
    --shadow: 0 1px 5px rgba(0,0,0,0.4);
}
*{
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #ccc;
    margin: 30px 50px;
}

a{
    text-decoration: none;
}
.container{
    display:grid;
    grid-gap:20px;
}
.main-nav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    list-style: none;
}
.main-nav a{
  background: var(--primary);
  font-size: 17px;
  box-shadow: var(--shadow);
  padding: 17px;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  transition: 0.2s;
  color: var(--dark);
}
.main-nav a:hover{
  background: var(--dark);
  color: var(--light);
}
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "slider slider top-box-a"
    "slider slider top-box-b"
}
.slider{
    grid-area: slider;
    background: url(4.jpg);
    background-position: center;
    background-size: cover;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-shadow: var(--shadow);
    opacity: 0.9;
}

.top-box-a{
    grid-area: top-box-a;
    background: url(2.jpg);
    background-position: center;
    background-size: cover;
}
.top-box-b{
    grid-area: top-box-b;
    background: url(10.jpg);
    background-position: center;
    background-size: cover;
}
.btn{
   background: var(--dark);
   color: var(--light);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 7px 60px;
   border-radius: 20px;
   border:3px solid var(--dark);
   transition: 0.5s;
}
.btn:hover{
    background: var(--primary);
    color: var(--dark);
 }
.top-box{
    display: grid;
    align-items: end;
    justify-content: center;
    padding: 15px;
    width: 300px;
}
.slider h1{
    font-size: 2rem;
    color: var(--light);
    background: rgba(0,0,0,0.5);
    padding:10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}
.slider p{
    display: flex;
    align-content: start;
    margin-top: 0;
    font-size: 1rem;
    color: var(--light);
    background: rgba(0,0,0,0.5);
    padding:10px;
    border-radius: 10px 0 10px 10px;
    margin-bottom: 0;
    overflow: auto;
}
.slider a{
    color: #fff;
    background: rgb(189, 130, 20);
    padding:15px 35px;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 15px;
}
.slider a:hover{
    background: var(--dark);
}
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.box{
    background-color: var(--primary);
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-align: center;
    box-shadow: var(--shadow);
    padding: 18px 20px;
}
.info{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--primary);
    box-shadow: var(--shadow);
    padding:30px;
}
.images{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.images img{
    width: 100%;
    height: 150px;
    box-shadow: var(--shadow);
    transition: 0.5s;
}
.images img:hover{
    transform:scale(1.1);
}
footer{
    background: var(--dark);
    color: white !important;
    text-align: center;
    padding: 16px;
    margin-top:16px;
}



@media(max-width:700px){
    .container{
        display: grid;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }

    .top-container{
        grid-template-areas:
        "slider"
        "top-box-a"
        "top-box-b";
        order: 1;
    }
    .top-box{
        width: 100%;
        height: 200px;
    }
    .boxes{
        grid-template-columns: 1fr;
        margin: 15px 0;
        order: 1;
    }
    .info{
        grid-template-columns: 1fr;
        margin: 15px 0;
        order: 4;
    }
    .info> img{
        width: 100%;
    }
    .images{
        grid-template-columns: repeat(2,1fr);
        order: 3;
    }
    .main-nav{
        order: 4;
    }
    footer{
        order: 6;
    }

}
