.textAreaWrapper {

}


.textAreaWrapper label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.textAreaWrapper Textarea{
    width: 100%;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 30px;
    padding:10px 10px;
}

