<nav>
  <div class="site-title">
    <h1 class="hcolor">Code blog</h1>

    <p>tolle Webseite aller Zeiten</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
