@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;    
}
.container :where(textarea , button){
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px 0;
}
.container textarea{
    font-family: 'Times New Roman', Times, serif;
    height: 180px;
    padding: 10px;
    border: 1px solid #999;
    font-size: 25px;
}
.container button{    
    background-color: gold;    
    transition:all 1s;
}

/*Beim Auswählen von Text ändert sich auch die Hintergrundfarbe des ausgewählten Textes*/
::selection{
    background-color: darkgoldenrod;
}
